<!DOCTYPE html>
<html lang="fr">
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="128x128"
      href="icons/favicon-128x128.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="icons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="icons/favicon-16x16.png"
    />
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div id="spinner">
      <div class="funspinner__box">
        <div class="texttransform title">
          <b>P</b><b>A</b><b>R</b><b>A</b><b>D</b><b>I</b><b>S</b><b>I</b
          ><b>A</b><b>S</b> <b> &nbsp;</b> <b>H</b><b>O</b><b>T</b><b>E</b
          ><b>L</b><b> &nbsp;</b><b>M</b><b>A</b><b>N</b>
        </div>
        <div class="progresser">
          <div class="progresser__bar">
            <div class="progresser__bar-item"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="q-app" class="invisible"></div>
    <!-- quasar:entry-point -->
    <script>
      const mainApp = document.querySelector("#q-app");
      const spinner = document.querySelector("#spinner");
      window.addEventListener("DOMContentLoaded", () => {
        mainApp.classList.remove("invisible");
        spinner.classList.add("invisible");
      });
    </script>
  </body>
</html>
